Repository daynyus02/railway_tracker, pull requests merged in 2025-06, with the labels that each got.

#60 59 - Change platform field datatype in schema.
  architecture/database/README.md
  architecture/database/apply_schema.sh
  architecture/database/connect.sh
  architecture/database/schema.sql
Labels: bug, enhancement

#62 50 - Extract script for incidents API
  pipelines/incidents-data/README.md
  pipelines/incidents-data/conftest.py
  pipelines/incidents-data/extract_incidents.py
  pipelines/incidents-data/requirements.txt
  pipelines/incidents-data/test_extract_incidents.py
Labels: pipeline

#65 18 - Add Github Action for Terraform
  .github/workflows/CI.yml
  pipelines/historical-data/README.md
  terraform/ECR/README.md
  terraform/ECR/main.tf
  terraform/ECR/variables.tf
  terraform/README.md
  terraform/resources/README.md
  terraform/resources/main.tf
  terraform/resources/variables.tf
Labels: terraform

#70 64 - Terraform the Lambda for RTT API pipeline.
  terraform/ECR/README.md
  terraform/ECR/main.tf
  terraform/resources/README.md
  terraform/resources/main.tf
  terraform/resources/variables.tf
Labels: terraform

#68 30 - Add extract script for summary reports.
  report/README.md
  report/conftest.py
  report/extract_report_data.py
  report/requirements.txt
  report/test_extract_report_data.py
  requirements.txt
Labels: pipeline

#76 33 - Load Script
  architecture/database/schema.sql
  pipelines/rtt-data/README.md
  pipelines/rtt-data/extract.py
  pipelines/rtt-data/load.py
  pipelines/rtt-data/requirements.txt
  pipelines/rtt-data/test_extract.py
  pipelines/rtt-data/test_load.py
  pipelines/rtt-data/transform.py
  requirements.txt
Labels: pipeline

#87 86 - Terraform ECR repo, Lambda, SNS topic, scheduler for the Incidents API Pipeline.
  terraform/ECR/README.md
  terraform/ECR/main.tf
  terraform/resources/README.md
  terraform/resources/main.tf
  terraform/resources/variables.tf
Labels: terraform

#94 91 - Fix bug with null time columns.
  report/conftest.py
  report/test_transform_pdf_summary.py
  report/transform_pdf_summary.py
Labels: bug

#106 93 - Update ETL Lambdas for more memory, and logging permissions
  terraform/resources/README.md
  terraform/resources/main.tf
  terraform/resources/variables.tf
Labels: bug, terraform

#112 108 - Terraform the relevant resources to host the dashboard.
  terraform/ECR/README.md
  terraform/ECR/main.tf
  terraform/resources/README.md
  terraform/resources/main.tf
  terraform/resources/variables.tf
Labels: terraform, dashboard

#119 116 - Add incident alerts
  pipelines/incidents-data/Dockerfile
  pipelines/incidents-data/README.md
  pipelines/incidents-data/alerts_incidents.py
  pipelines/incidents-data/load_incidents.py
  pipelines/incidents-data/requirements.txt
  pipelines/incidents-data/test_load_incidents.py
  requirements.txt
Labels: alerts

#115 39 - Create load script for PDF reports into S3
  report/README.md
  report/extract_reports.py
  report/load.py
  report/myfile.pdf
  report/report.py
  report/test_extract_reports.py
  requirements.txt
Labels: documentation, reports

#124 123 - Terraform resources for reports lambda
  terraform/ECR/README.md
  terraform/ECR/main.tf
  terraform/resources/README.md
  terraform/resources/main.tf
Labels: terraform, reports

#131 126 - Updated dashboard task definition env variables
  terraform/resources/main.tf
Labels: bug, terraform

#125 102 - Delay Alerts
  pipelines/rtt-data/README.md
  pipelines/rtt-data/alerts.py
  pipelines/rtt-data/load.py
  pipelines/rtt-data/main.py
  pipelines/rtt-data/requirements.txt
  pipelines/rtt-data/test_alerts.py
Labels: alerts

#128 117 - Create reports lambda handler and dockerfile
  report/Dockerfile
  report/extract_reports.py
  report/load_reports.py
  report/main_reports.py
  report/report.py
  report/test_extract_reports.py
  report/transform_summary.py
Labels: reports

#139 138 - Update terraform apply github action
  .github/workflows/terraform_apply.yml
Labels: bug, terraform

#134 133 - Create a bash script to build and push a new image to the incidents ECR
  pipelines/incidents-data/README.md
  pipelines/incidents-data/deploy_image.bash
Labels: pipeline

#148 146 - Update architecture README
  architecture/README.md
  architecture/railway_tracker_arch_diag.png
Labels: documentation

#145 34 - Add tests and documentation for report directory.
  report/README.md
  report/load_reports.py
  report/report.py
  report/test_extract_reports.py
  report/test_load_reports.py
  report/test_report.py
Labels: testing, reports

#147 136 - Main README
  OnTrack.png
  README.md
Labels: documentation
